@{
    ViewData["Title"] = "AWS Certifications";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail AWS certification details.</p>
<hr>
<p> Service : <a href="https://aws.amazon.com/certification/">AWS Certifications Details</p>
<hr>
